<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-scale=1">
        <title>Title</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            .center-block{
                float:none;
            }
        </style>
    </head>
    <body ng-app="applicationAngularjs">
        <div class="container" ng-controller="controllerBook">
            <div class="row">
                <div class="col-sm-12 center-block">
                   <h1 class="text-center">Application in Angularjs</h1>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-text">Search:</span>
                                <input type="text" class="form-control" placeholder="Enter the word..." ng-model="search">
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">
                                Add Book
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Autor</label>
                                                <input type="text" class="form-control" ng-model="booksAutor">
                                                <label>Title</label>
                                                <input type="text" class="form-control" ng-model="booksTitle">
                                                <label>ISBN</label>
                                                <input type="text" class="form-control" ng-model="booksISBN">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                            <button ng-click="addBook()" type="button" class="btn btn-primary">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                       <table class="table table-hover">
                           <thead>
                            <tr>
                                <th ng-repeat="heading in [
                                    'Index','Autor', 'Title', 'ISBN', ''
                                ]">
                                    {{heading}}
                                </th>
                            </tr>
                           </thead>
                           <tbody>
                            <tr ng-repeat=' book in books | filter : search'>
                                <td>{{$index +1}}</td>
                                <td>
                                    {{book.Autor}}
                                    <input type="text" class="form-control" ng-if=" editBook" ng-model="book.Autor">
                                 </td>
                                <td>
                                    {{book.Title}}
                                    <input type="text" class="form-control" ng-if=" editBook" ng-model="book.Title">
                                </td>
                                <td>
                                    {{book.ISBN}}
                                    <input type="text" class="form-control" ng-if=" editBook" ng-model="book.ISBN">
                                </td>
                                <td>
                                    <button ng-click="editBook = !editBook" class="btn btn-info btn-xs">edit</button>
                                    <button ng-click="deleteBook( $index)" class="btn btn-danger btn-xs">&times;</button></td>
                            </tr>
                           </tbody>
                       </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- angular -->
        <script src="js/angular.min.js"></script>
        <script src="js/application.js"></script>
        <!-- jquery -->
        <script src="js/jquery-1.11.2.min.js"></script>
        <!-- bootstrap -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>